body {
    margin: 0px;
}

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}

label {
    color: #606770;
}

ul, li, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    border-radius: 50px;
    font-size: 15px;
    height: 36px;
    text-align: left;
    border: none;
    box-sizing: border-box;
    outline: none;
}

.head_bar {
    position: relative;
    height: 40px;
    background-color: #1a86a0;
}

.container {
    position: static;
    height: 100%;
    width: 100%;
}

.clicked {
    background: #9b9b9b;
}

.inner_container {
    position: absolute;
    width: 100%;
    height: calc(100% - 100px);
}

.info_bar {
    background-color: #ececec;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.bot_content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    position: relative;
}

.left_side, .right_side {
    width: 23%;
    background-color: #ececec;
}

.new_feel {
    width: 54%;
    background-color: #ececec;
    position: relative;
    display: flex;
    flex-direction: column;
}

.new_feel, .left_side, .right_side {
    height: 100%;
}

.padding16 {
    padding: 10px 16px;
    align-items: center;
    justify-content: space-between;
    border-right: #c3c3c3 solid 1px;
    z-index: 12;
}

.cover {
    text-align: center;
    width: 23%;
}

.circle_cover {
    border-radius: 63%;
    width: fit-content;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.fit_content {
    width: fit-content;
    display: flex;
}

.flex {
    display: flex;
}

.margin_l_12px {
    margin-left: 12px;
}

.margin_r_12px {
    margin-right: 12px;
}

.title_name {
    overflow: hidden;
}

.ui_scrollable_area {
    direction: ltr;
    height: 100%;
}

.ui_scrollable_area_wrap {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.span-s {
    padding: 4px 16px 12px;
    display: block;
    position: relative;
}

.height100 {
    height: 100%;
}

.label-o {
    border: none;
    width: 100%;
    cursor: default;
    display: inline-block;
    font-weight: normal;
    margin: 0;
    vertical-align: middle;
    box-sizing: border-box;
    position: relative;
}

.label-o::before {
    content: '\f002';
    display: inline-block;
    height: 16px;
    width: 16px;
    top: 10px;
    left: 12px;
    position: absolute;
}

.label-o input {
    width: 100%;
    background-color: rgba(0, 0, 0, .04);
    padding-left: 36px;
    padding-right: 16px;
}

.item_cvr {
    height: 64px;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 20px;
}

.img_cvr img {
    width: 50px;
    height: 50px;
}

.item_cvr .content_cvr a {
    padding: 0 8px;
    display: flex;
}

.item_cvr .content_cvr a .img_cvr {
    margin: 0 8px;
    min-width: 50px;
    min-height: 50px;
    max-height: 50px;
}

.content_cvr {
    border-radius: 20px;
    display: flex;
    height: 100%;
    align-items: center;
}

.info_cvr {
    flex-direction: column;
    justify-content: center;
}

.msg_cvr {
    overflow: hidden;
    font-size: 14px;
}

.msg_cvr div {
    margin: 0 4px;
}

.actions ul li {
    padding: 12px;
}

.actions ul {
    padding-right: 25px;
}

.action_bar {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.36);
    z-index: 11;
}

.inner_act {
    justify-content: space-between;
    align-items: center;
}

.title_cvr {
    align-items: center;
    box-sizing: unset;
}

.name_user {
    flex-direction: column;
    justify-items: center;
}

.attach_emoji {
    flex-direction: column;
    justify-items: center;
    padding-right: 8px;
}

.last_active_time {
    font-size: 13px;
}

.width100 {
    width: 100%;
}

.width77 {
    width: 77%;
}

.cover_gr {
    align-items: center;
    margin-top: 14px;
    flex-direction: column;
    padding: 35px 14px 34px 14px;
    word-break: break-word;
    box-sizing: border-box;
    border-bottom: 1px solid #c3c3c3;
}

.max_size_cover_gr {
    max-width: 200px;
    max-height: 100px;
}

.photo_cover_gr {
    justify-content: center;
}

.name_gr {
    margin-top: 20px;
}

.fixed_size_of_members_gr {
    min-width: 32px;
    min-height: 32px;
    max-height: 32px;
    max-width: 32px;
}

.member_status {
    border-radius: 50%;
    display: inline-block;
    height: 6px;
    margin-left: 4px;
    width: 6px;
}

.member_status_onl {
    background: rgb(66, 183, 42);
}

.member_status_off {
    background: rgb(132, 132, 132);
}

.border_item {
    border-radius: 15px;
}

.border_item:hover, .item_cvr:hover {
    background-color: #c3c3c3;
}

.padding_photo_member {
    padding: 0 12px 0 16px;
}

.border_r_1px_gray {
    border-right: 1px solid #c3c3c3
}

.border_l_1px_gray {
    border-left: 1px solid #c3c3c3;
}

.list_members {
    margin-top: 15px;
}

.msg_area {
    height: calc(100% -  56px);
}

.input_area {
    position: relative;
    bottom: 0;
    width: 100%;

}

.border_out {
    align-items: center;
    padding: 0 6px;
    display: flex;
}

.border_in {
    padding: 10px 8px;
    width: 100%;
}

.enter_chat {
    align-items: center;
    flex: 1 1 auto;
    background-color: #c3c3c3;
    border-radius: 18px;
}

.input_msg input {
    background-color: #ffffff00;
    padding: 0 10px 0 20px;
}

.content_msg {
    display: flex;
    word-break: break-word;
    width: fit-content;
    max-width: 400px;
}

.friend-msg {
    padding: 6px 12px 6px 20px;
    background-color: #8bacff;
    width: fit-content;
    border-radius: 40px 40px 40px 10px;
}

.line_text {
    padding: 3px 12px;
    line-height: 20px;
    display: flow-root;
    align-items: center;
}

.align_l {
    clear: left;
    text-align: left;
    float: left;
}

.align_r {
    clear: right;
    text-align: right;
    float: right;
}


.padding_space {
    width: 100%;
    height: 50px;
}

.my-msg {
    padding: 6px 12px 6px 20px;
    background-color: #ffbb9f;
    width: fit-content;
    border-radius: 40px 40px 10px 40px;
}

.font-color-default{
    color: #1a86a0 !important;
}

.fill-default-color{
    fill: #1a86a0;
}

* {
    box-sizing: border-box;
}

.selectize-option {
    display: flex;
    width: 100%;
    height: 44px;
}

.selectize-option > .wrapper-left {
    padding: 6px 12px 6px 16px;
}

.selectize-option > .wrapper-left > .inner-wrapper-left {
    height: 32px;
    width: 32px;
    border-radius: 50px;
}

.selectize-option > .wrapper-right {
    line-height: 32px;
    padding: 6px;
}

.selectize-header {
    align-items: center;
    background-color: transparent;
    color: rgba(0, 0, 0, .34);
    display: flex;
    font-size: 13px;
    font-weight: bold;
    height: 32px;
    padding: 8px 16px 0;
    text-transform: uppercase;
}

.selectize-item {
    background: #cbe6fe !important;
    border-radius: 3px !important;
}

.selectize-item-inner{
    color: #0084ff;
    font-size: 14px;
}

.selectize-control {
    display: flex;
    height: 100%;
}

.clock-o {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.clock {
    background: white;
}

.i-clock-o{
 padding-left: 8px;
}

.ii-clock-o{
    width: 80%;
}

.selectize-input{
    border: none;
}

.selectize-input.focus{
    border: none;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.selectize-control.multi .selectize-input.has-items{
    padding: 0 0 0 5px;
}

.lt {
    margin-left: 22px;
}